@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  /* Pure White Background */
  --foreground: #000000;
  --font-inter: 'Inter', sans-serif;
  --font-jetbrains-mono: 'JetBrains Mono', monospace;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.8s ease;
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans font-black tracking-tighter text-black;
  }
}

.grain::before {
  content: "";
  position: fixed;
  top: -150%;
  left: -150%;
  width: 300%;
  height: 300%;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.15;
  pointer-events: none;
  z-index: 50;
  animation: grain 8s steps(10) infinite;
  filter: contrast(150%) brightness(100%);
}

@keyframes grain {

  0%,
  100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%, 0%);
  }

  70% {
    transform: translate(0, 15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

.section-title {
  @apply text-xs font-mono uppercase tracking-[0.5em] text-zinc-400 mb-12 flex items-center gap-6 font-black;
}

.section-title::after,
.section-title::before {
  content: "";
  @apply h-[2px] w-20 bg-zinc-300;
}

::selection {
  @apply bg-black text-white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #000;
  border: 4px solid var(--background);
}